$color-base: #000000;
$color-2: #696969;

$color-btn: #FFF;

$bg-base: #fff;
$bg-2: #F1F3F5;
$bg-3: #DBDBDB;
$bg-btn: #0F54B9;

$fs-base: 14px;

$fs-btn: 16px;

$font-fam-base: 'Roboto', 'sans-serif';
$font-fam-2: 'Noto Sans', 'sans-serif';
$font-fam-3: 'Proxima Nova', 'sans-serif';

$wrap-max-width: 650px;
